body {
  font-family: "Rubik", sans-serif;
}

.wrapper {
  min-width: 100%;
  margin: 0;
  list-style: none;
}

.page {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-items: center;
}

.page__background {
  position: absolute;
  height: 100%;
  z-index: 1;
}

.page__cover img {
  max-width: 100%;
}

.page__map {
  height: 100%;
}

.page__content {
  margin: 80px 0 0 0;
  display: flex;
  position: relative;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
}

.content__title {
  color: aliceblue;
}

.content__input {
  margin: 20px 0px 20px 0px;
  box-shadow: 3px 6px 24px -18px rgba(54, 54, 64, 0.75);
}
.content__input input {
  font-family: "Rubik", sans-serif;
  padding: 20px;
  font-size: 16px;
  border-radius: 6px 0 0 6px;
  border: none;
}
.content__input input::placeholder {
  font-size: 16px;
}
.content__input textarea:focus, .content__input input:focus {
  outline: none;
}
.content__input .input button {
  min-height: 100%;
  background-color: rgba(0, 0, 0, 0.7960784314);
  border: none;
  padding: 21px;
  border-radius: 0 6px 6px 0;
  margin-left: -5px;
  transition: 0.25s background-color ease-out;
}
.content__input .input button:hover {
  background-color: #525561;
}

.content__info {
  background-color: #fff;
  border-radius: 6px;
  box-shadow: 3px 6px 24px -18px rgba(54, 54, 64, 0.75);
}
.content__info .item__title {
  margin-bottom: 10px;
  padding: 0px 20px 0px 20px;
}
.content__info .item__title p {
  font-weight: 700;
  color: rgba(102, 102, 102, 0.7411764706);
  font-size: 13px;
}
.content__info .item__text {
  color: rgba(0, 0, 0, 0.7960784314);
  max-width: 164px;
  font-weight: 700;
  font-size: 20px;
  padding: 0px 30px 0px 20px;
}

.page__invalid {
  opacity: 0;
  pointer-events: none;
  display: flex;
  position: absolute;
  z-index: 10000;
  background-color: #37479e;
  padding: 90px 120px;
  border-radius: 6px;
  top: 25%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-shadow: 8px 8px 36px -6px rgb(66, 68, 90);
}
.page__invalid p {
  font-size: large;
  font-weight: 600;
  color: #fff;
  margin-bottom: 30px;
}
.page__invalid button {
  border: none;
  font-size: 18px;
  color: #2b3252;
  background-color: #e4e9f5;
  padding: 20px 30px;
  border-radius: 6px 6px 6px 6px;
  transition: 0.25s background-color ease-out;
}
.page__invalid button p {
  font-size: large;
  font-weight: 600;
  color: #fff;
}
.page__invalid button:hover {
  background-color: rgba(228, 233, 245, 0.5607843137);
}

.page__invalid {
  margin: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  opacity: 0;
  pointer-events: none;
  position: absolute;
  z-index: 10000;
  background-color: #37479e;
  padding: 80px 110px;
  border-radius: 6px;
  top: 25%;
  box-shadow: 8px 8px 36px -6px rgb(66, 68, 90);
}
.page__invalid p {
  font-size: xx-large;
  font-weight: 600;
  color: #fff;
  margin-bottom: 30px;
}
.page__invalid button {
  border: none;
  font-size: 18px;
  color: #2b3252;
  background-color: #e4e9f5;
  padding: 20px 30px;
  border-radius: 6px 6px 6px 6px;
  transition: 0.25s background-color ease-out;
}
.page__invalid button:hover {
  background-color: rgba(228, 233, 245, 0.5607843137);
}

.page__server-error {
  position: absolute;
  opacity: 0;
  pointer-events: none;
  display: flex;
  z-index: 100000;
  background-color: #37479e;
  padding: 90px 120px;
  border-radius: 6px;
  top: 25%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-shadow: 8px 8px 36px -6px rgb(66, 68, 90);
}
.page__server-error p {
  font-size: xx-large;
  font-weight: 600;
  color: #fff;
  margin-bottom: 30px;
}
.page__server-error button {
  border: none;
  font-size: 18px;
  color: #2b3252;
  background-color: #e4e9f5;
  padding: 20px 30px;
  border-radius: 6px 6px 6px 6px;
  transition: 0.25s background-color ease-out;
}
.page__server-error button p {
  font-size: large;
  font-weight: 600;
  color: #fff;
}
.page__server-error button:hover {
  background-color: rgba(228, 233, 245, 0.5607843137);
}

@media only screen and (max-width: 950px) {
  .page__cover img {
    max-width: 100%;
    height: 200px;
  }
  .page__container {
    position: relative;
    max-width: 600px;
    margin: 0 auto;
    padding: 0 15px;
    z-index: 1000;
    box-sizing: content-box;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .page__content {
    margin: 20px 0 0 0;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
  }
  .info__body {
    display: flex;
    flex-direction: column;
  }
  .content__info {
    padding: 15px;
  }
  input {
    max-width: 214px;
    font-family: "Rubik", sans-serif;
    padding: 20px;
    font-size: 16px;
    border-radius: 6px 0 0 6px;
    border: none;
  }
  input::placeholder {
    font-size: 16px;
  }
  .info__item {
    min-width: 244px;
    margin: 5px 0 5px 0;
    padding: 5px;
  }
  .input button {
    min-height: 100%;
    background-color: rgba(0, 0, 0, 0.7960784314);
    border: none;
    padding: 21px;
    border-radius: 0 6px 6px 0;
    margin-left: -5px;
    transition: 0.25s background-color ease-out;
  }
  .input button:hover {
    background-color: #525561;
  }
  .page__invalid {
    margin: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    opacity: 0;
    pointer-events: none;
    position: absolute;
    z-index: 10000;
    background-color: #37479e;
    padding: 40px 50px;
    border-radius: 6px;
    top: 25%;
    box-shadow: 8px 8px 36px -6px rgb(66, 68, 90);
  }
  .page__invalid p {
    font-size: 30px;
    color: #fff;
    margin-bottom: 30px;
  }
  .page__invalid button {
    border: none;
    font-size: 18px;
    color: #2b3252;
    background-color: #e4e9f5;
    padding: 20px 30px;
    border-radius: 6px 6px 6px 6px;
    transition: 0.25s background-color ease-out;
  }
  .page__invalid button:hover {
    background-color: rgba(228, 233, 245, 0.5607843137);
  }
  .page__server-error {
    margin: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    opacity: 0;
    pointer-events: none;
    position: absolute;
    z-index: 10000;
    background-color: #37479e;
    padding: 40px 50px;
    border-radius: 6px;
    top: 25%;
    box-shadow: 8px 8px 36px -6px rgb(66, 68, 90);
  }
  .page__server-error p {
    color: #fff;
    margin-bottom: 30px;
  }
  .page__server-error button {
    border: none;
    font-size: 18px;
    color: #2b3252;
    background-color: #e4e9f5;
    padding: 20px 30px;
    border-radius: 6px 6px 6px 6px;
    transition: 0.25s background-color ease-out;
  }
  .page__server-error button:hover {
    background-color: rgba(228, 233, 245, 0.5607843137);
  }
}
@media only screen and (min-width: 950px) {
  .page__container {
    position: relative;
    max-width: 1000px;
    margin: 0 auto;
    padding: 0 15px;
    z-index: 1000;
    box-sizing: content-box;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .info__body {
    display: flex;
    flex-direction: row;
  }
  .info__item {
    min-width: 214px;
  }
  .info__item:not(:last-child) {
    border-right: 1px solid rgba(102, 102, 102, 0.315);
  }
  .content__info {
    background-color: #fff;
    border-radius: 6px;
    padding: 30px;
    box-shadow: 3px 6px 24px -18px rgba(54, 54, 64, 0.75);
  }
  input {
    min-width: 600px;
  }
}
/*# sourceMappingURL=main.css.map */
