body {
   font-family: 'Rubik', sans-serif;
}

.wrapper {
   min-width: 100%;
   margin: 0;
   list-style: none;
}

.page {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-items: center;
}


.page__background {
   position: absolute;
   height: 100%;
   z-index: 1;

}

.page__cover img{
   max-width: 100%;

}


.page__map  {
   height: 100%;
}

.page__content {
   margin: 80px 0 0 0;
   display: flex;
   position: relative;
   flex-wrap: wrap;
   flex-direction: column;
   align-items: center;
}

.content__title {
   color: aliceblue;
}

.content__input {
   margin: 20px 0px 20px 0px;
   box-shadow: 3px 6px 24px -18px rgba(54, 54, 64, 0.75);

   input {
      font-family: 'Rubik', sans-serif;
      padding: 20px;
      font-size: 16px;
      border-radius: 6px 0 0 6px;
      border: none;
   
      &::placeholder {
     
         font-size: 16px;
      }

   }

   textarea:focus, input:focus{
      outline: none;
   }
      .input button {
         min-height: 100%;
         background-color: #000000cb;
         border: none;
         padding: 21px;
         border-radius: 0 6px 6px 0;
         margin-left: -5px;
         transition: 0.25s background-color ease-out;
         

         &:hover {
            background-color: #525561;
         }

   }


}
.content__info {
   background-color: #fff;
   border-radius: 6px;
   box-shadow: 3px 6px 24px -18px rgba(54, 54, 64, 0.75);

   .item__title  {
      margin-bottom: 10px;
      padding: 0px 20px 0px 20px;
    

      p {
      font-weight: 700;
      color: #666666bd;
      font-size: 13px;
      }
   
   }

   .item__text {
      color: #000000cb;
      max-width: 164px;
      font-weight: 700;
      font-size: 20px;
      padding: 0px 30px 0px 20px;
   }
}


.page__invalid {
   opacity: 0;
   pointer-events: none;
   display: flex;
   position: absolute;
   z-index: 10000;
   background-color: #37479e;
   padding: 90px 120px;
   border-radius: 6px;
   top: 25%;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   box-shadow: 8px 8px 36px -6px rgba(66, 68, 90, 1);

   p{
      font-size: large;
      font-weight: 600;
      color: #fff;
      margin-bottom: 30px;
   }

   button {
      p {
         font-size: large;
         font-weight: 600;
         color: #fff;
      }
      border: none;
      font-size: 18px;
      color: #2b3252;
      background-color: #e4e9f5;
      padding: 20px 30px;
      border-radius: 6px 6px 6px 6px;
      transition: 0.25s background-color ease-out;
    
      
      &:hover {
         background-color: #e4e9f58f;
      }
   }


}


.page__invalid {
   margin: 20px;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   text-align: center;
   opacity: 0;
   pointer-events: none;
   position: absolute;
   z-index: 10000;
   background-color: #37479e;
   padding: 80px 110px;
   border-radius: 6px;
   top: 25%;
   box-shadow: 8px 8px 36px -6px rgba(66, 68, 90, 1);

   p{
      font-size: xx-large;
      font-weight: 600;
      color: #fff;
      margin-bottom: 30px;
   }

   button {
      border: none;
      font-size: 18px;
      color: #2b3252;
      background-color: #e4e9f5;
      padding: 20px 30px;
      border-radius: 6px 6px 6px 6px;
      transition: 0.25s background-color ease-out;
    
      
      &:hover {
         background-color: #e4e9f58f;
      }
   }

}

 
.page__server-error {
   position: absolute;
   opacity: 0;
   pointer-events: none;
   display: flex;
   z-index: 100000;
   background-color: #37479e;
   padding: 90px 120px;
   border-radius: 6px;
   top: 25%;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   box-shadow: 8px 8px 36px -6px rgba(66, 68, 90, 1);

   p{
      font-size:xx-large;
      font-weight: 600;
      color: #fff;
      margin-bottom: 30px;
   }

   button {
      p {
         font-size: large;
         font-weight: 600;
         color: #fff;
      }
      border: none;
      font-size: 18px;
      color: #2b3252;
      background-color: #e4e9f5;
      padding: 20px 30px;
      border-radius: 6px 6px 6px 6px;
      transition: 0.25s background-color ease-out;
    
      
      &:hover {
         background-color: #e4e9f58f;
      }
   }

}

@media only screen and (max-width: 950px) {

   .page__cover img{
      max-width: 100%;
      height: 200px;
   }
   
   .page__container {
      position: relative;
      max-width: 600px;
      margin: 0 auto;
      padding: 0 15px;
      z-index: 1000;
      box-sizing: content-box;
      display: flex;
      flex-direction: column;
      align-items: center;
   }

   .page__content {
      margin: 20px 0 0 0;
      display: flex;
      flex-wrap: wrap;
      flex-direction: column;
      align-items: center;
   }

   .info__body {
      display: flex;
      flex-direction: column;
   }
   
   .content__info {
      padding: 15px;
   }

   input {
      max-width: 214px;
      font-family: 'Rubik', sans-serif;
      padding: 20px;
      font-size: 16px;
      border-radius: 6px 0 0 6px;
      border: none;

      &::placeholder {
     
         font-size: 16px;
      }

      
   }

   .info__item {
      min-width: 244px;
      margin: 5px 0 5px 0 ;
      padding: 5px;
   }

   .input button {
      min-height: 100%;
      background-color: #000000cb;
      border: none;
      padding: 21px;
      border-radius: 0 6px 6px 0;
      margin-left: -5px;
      transition: 0.25s background-color ease-out;
      

      &:hover {
         background-color: #525561;
      }
}


.page__invalid {
   margin: 20px;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   text-align: center;
   opacity: 0;
   pointer-events: none;
   position: absolute;
   z-index: 10000;
   background-color: #37479e;
   padding: 40px 50px;
   border-radius: 6px;
   top: 25%;
   box-shadow: 8px 8px 36px -6px rgba(66, 68, 90, 1);

   p{
      font-size: 30px;
      color: #fff;
      margin-bottom: 30px;
   }

   button {
      border: none;
      font-size: 18px;
      color: #2b3252;
      background-color: #e4e9f5;
      padding: 20px 30px;
      border-radius: 6px 6px 6px 6px;
      transition: 0.25s background-color ease-out;
    
      
      &:hover {
         background-color: #e4e9f58f;
      }
   }


}


.page__server-error {
   margin: 20px;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   text-align: center;
   opacity: 0;
   pointer-events: none;
   position: absolute;
   z-index: 10000;
   background-color: #37479e;
   padding: 40px 50px;
   border-radius: 6px;
   top: 25%;
   box-shadow: 8px 8px 36px -6px rgba(66, 68, 90, 1);
   p{
      color: #fff;
      margin-bottom: 30px;
   }

   button {
      border: none;
      font-size: 18px;
      color: #2b3252;
      background-color: #e4e9f5;
      padding: 20px 30px;
      border-radius: 6px 6px 6px 6px;
      transition: 0.25s background-color ease-out;
    
      
      &:hover {
         background-color: #e4e9f58f;
      }
   }

   
}

}

@media only screen and (min-width: 950px) {
   
   .page__container {
      position: relative;
      max-width: 1000px;
      margin: 0 auto;
      padding: 0 15px;
      z-index: 1000;
      box-sizing: content-box;
      display: flex;
      flex-direction: column;
      align-items: center;
   }

   .info__body {
      display: flex;
      flex-direction: row;
   }

   .info__item {
      min-width: 214px;
     
   }

   .info__item:not(:last-child) {
      border-right: 1px solid rgba(102, 102, 102, 0.315);
   }

   .content__info {
      background-color: #fff;
      border-radius: 6px;
      padding: 30px;
      box-shadow: 3px 6px 24px -18px rgba(54, 54, 64, 0.75);
   
   }

   input {
      min-width: 600px;
   }

  
}

