.wrapper {
   min-width: 100%;
   margin: 0;
   list-style: none;
}
.page {
}
.page__background {
}
.page__cover {
}
.page__map {
}
.map__flag {
}
.page__content {
}
.content__container {
}
.content__title {
}
.content__input {
}
.content__info {
}